<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <addkey="github"value="https://nuget.pkg.github.com/Ah-ha-admin/index.json"/>
    </packageSources>
    <packageSourceCredentials>
        <github>
            <addkey="Username"value="Ah-ha-admin"/>
            <addkey="ClearTextPassword"value="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"/>
        </github>
    </packageSourceCredentials>
</configuration>
